
@{
    ViewData["Title"] = "Index";
}
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
<h1 class="center">Deal Locator</h1>

<img src="~/map.png" class="center" />
<h3 class="center">Looking to make your advertising pay off ?? </h3>
<h3 class="center">   Want more foucesed Location advertising ?? </h3>